! Emacs default font
Emacs24.font: Ubuntu Mono-13
emacs.font: Ubuntu Mono-13
emacs.FontBackend: xft

! Xft font configuration
Xft.antialias:  1
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

! Rofi colors setup
rofi.opacity: 85
rofi.width: 1924
rofi.lines: 7
rofi.columns: 4
rofi.font: SourceCodePro 9
rofi.fg: #E5DBCF
rofi.bg: #0F3B5F
rofi.hlfg: #0F3B5F
rofi.hlbg: #CC9752
rofi.bc: #CC9752
rofi.bw: 2
rofi.location: 6
rofi.padding: 2
rofi.yoffset: -22
rofi.xoffset: 0
rofi.fixed-num-lines: true
rofi.hmode: false
rofi.terminal: x-terminal-emulator
rofi.ssh-set-title: true
rofi.disable-history: true
rofi.key-window: mod4+Tab
rofi.key-run: mod4+p
rofi.key-ssh: mod1+F3

! Urxvt settings
urxvt*font: xft:Droid Sans Mono for Powerline:size=12:antialias=true
urxvt*boldFont: xft:Droid Sans Mono for Powerline:size=12:antialias=true
urxvt*lineSpace: -1

!! urxvt interface
urxvt*transparent:       false
urxvt*loginShell:         true
urxvt*scrollBar:         false
urxvt*secondaryScroll:    true
urxvt*saveLines:         65535
urxvt*cursorBlink:       false
urxvt*urgentOnBell:       true

!! urxvt clipboard
urxvt.perl-ext-common: default,clipboard,keyboard-select
urxvt.keysym.M-Escape: perl:keyboard-select:activate
urxvt.keysym.M-c:   perl:clipboard:copy
urxvt.keysym.C-v:   perl:clipboard:paste
urxvt.keysym.M-C-v: perl:clipboard:paste_escaped
urxvt.clipboard.copycmd:  xsel -ib
urxvt.clipboard.pastecmd: xsel -ob

!! urxvt misc
urxvt.saveLines: 4095
urxvt.iso14755: false

! Old colors
! *.foreground:   #c0bebf
! *.background:   #2b2222
! *.cursorColor:  #F33C5B

! Base-16 Solarized theme from https://github.com/chriskempson/base16-xresources
#define base00 #002b36
#define base01 #073642
#define base02 #586e75
#define base03 #657b83
#define base04 #839496
#define base05 #93a1a1
#define base06 #eee8d5
#define base07 #fdf6e3
#define base08 #dc322f
#define base09 #cb4b16
#define base0A #b58900
#define base0B #859900
#define base0C #2aa198
#define base0D #268bd2
#define base0E #6c71c4
#define base0F #d33682

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06

