[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	dsf = "!f() { [ \"$GIT_PREFIX\" != \"\" ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX; }; f"
	graph = log --graph --all --decorate --stat --date=iso
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	bt = for-each-ref --sort='authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads
	fixws = !"\
			if (! git diff-files --quiet .) && \
				 (! git diff-index --quiet --cached HEAD) ; then \
				git commit -m FIXWS_SAVE_INDEX && \
				git stash save FIXWS_SAVE_TREE && \
				git rebase --whitespace=fix HEAD~ && \
				git stash pop && \
				git reset --soft HEAD~ ; \
			elif (! git diff-index --quiet --cached HEAD) ; then \
				git commit -m FIXWS_SAVE_INDEX && \
				git rebase --whitespace=fix HEAD~ && \
				git reset --soft HEAD~ ; \
			fi"
[merge]
	tool = meld
[diff]
	algorithm = patience
[user]
	email = deep.paren.12@gmail.com
	name = dp12
[color]
	ui = auto
[core]
	autocrlf = input
